/* hover box */
.alfred {display: none; position: relative;}
.alfredparent:hover {outline: 3px solid #ddd;}
.alfredparent:hover > .alfred {display: block;}
.alfredparent {min-height: 50px;} /* force it to show in empty divs */

/* buttons */
.alfredbuttons {
    position: absolute;
    right: 0;
    top: 0;
    height: 0px;
    width: 1000px;
    z-index: 97;
    font-size: 14px;
}
.alfredbuttons span,
.alfredbuttons a {
    float: right;
    border: 2px solid #ddd;
    padding: 5px;
    max-width: 20px;
    overflow: hidden;
    background-color: white;
    white-space: nowrap;
    transition: max-width 0.5s;
}
.alfredbuttons span:hover,
.alfredbuttons a:hover {
    max-width: 1000px;
    text-decoration: none;
}
.alfredbuttons i {
    width: 22px;
    text-align: center;
}
.alfredbuttons * {
    color: #6D6D6D !important;
}

/* reload overlay */
#alfredreload {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999999;
    background-color: rgba(255,255,255,0.5);
    display: none;
}

/* modal z-index */
.ui-dialog {
    z-index: 1000000 !important;
}
.ui-widget-overlay {
    z-index: 999999 !important;
}